body{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #fff;
}

#header-nav{
	background-color:cadetblue;
}

.container{
	padding-left: 0px;
}

 .navbar-header{
	text-align:center;
} 


h2{
	text-align: center;
}

 .navbar-header button.navbar-toggle{
	border: 1px solid #5fec1d; 
	width: 40px;
	height: 40px;
	clear: both;
	margin: bottom 10px;
}  

.visible-xs{
	visibility: hidden;
}
  
img{
	padding-right: 5px;
}

h2{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 80%;
}

section{
	width: 100%;
}

.chicken{
	padding-left: 10px;
	background-color: cadetblue;
}

h4{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

/* ============ Large & Extra Large viewport======== */
@media(min-width:992px){


}

/* ============ Medium viewport======== */
@media(min-width:768px) and (max-width:991px){ 
	
}

/* ============ Small viewport ========= */
@media(min-width:576px) and (max-width: 767px){
	
}

/* ============ Extra Small viewport======== */
@media(max-width:575px){
	.visible-xs{
		visibility: visible;		
	}

	flex-container{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	 .chicken{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		padding-right: 10px;
	}

	section{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	} 
}





