body{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #fff;
}

#header-nav{
	background-color:cadetblue;
}

.container{
	padding-left: 0px;
}

h2{
	text-align: center;
}

 /*.navbar-header*/ .flexcontainer .button.navbar-toggle{
	border: 1px solid #5fec1d; 
	width: 40px;
	height: 40px;
	clear: both;
	margin: bottom 10px;
}  

.visible-sm{
	visibility: hidden;
}
  
img{
	padding-right: 5px;
}

h2{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 80%;
}

section{
	width: 100%;
}

.chicken{	
	background-color: cadetblue;
}

.chicken p{
	width: 97%;
	padding-left: 15px;
	padding-right: auto;
}

h4{
	padding-top: 15px;
	margin-bottom: 25px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

/* ============ Extra Large viewport======== */
@media(min-width:992px){
	#les3menus{
		display: none;
	} 
}

/* ============ Large viewport======== */
@media(min-width:768px) and (max-width:991px){ 
	#les3menus{
		display: none;
	} 
}

/* ============ Medimu viewport ========= */
@media(min-width:576px) and (max-width: 767px){
	#les3menus{
		display: none;
	} 
}

/* ============ Small viewport======== */
@media(max-width:575px){
	.visible-sm{
		visibility: visible;		
	}

	.d-sm-flex{
		flex-wrap: wrap;
	}

	.bouton{
		margin-left: 75vw;
		margin-top:0px;
		margin-bottom: 0px;
		padding-right: 30vw;
		padding-bottom: 0px;
	}

	.chicken{
		width: 97%;
		margin-left: auto;
		margin-right: auto;	
	}

	section{
		width: 100%;
		margin-left: auto;
		margin-right: auto; 
	} 
	
}





