body{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #fff;
}

#header-nav{
	background-color:cadetblue;
}

.container{
	padding-left: 0px;
}

 .navbar-header button.navbar-toggle{
	border: 1px solid #5fec1d; 
	width: 40px;
	height: 40px;
	clear: both;
	margin:0px 0px 10px 355px;	
}  

.visible-xs{
	visibility: hidden;
}

.navbar-header .icon-bar {
	border: 1px solid #61122f;
	width: 20px;
	margin-top: 5px;
  } 
  
img{
	padding-right: 5px;
}

h2{
	margin-top: 10px;
	margin-bottom: 25px;
	width: 80%;
	margin-left: 45%;
	margin-right: 25%;
}

.chicken{
	background-color: cadetblue;
}

h4{
	padding-top: 20px;
	padding-bottom: 40px;
	width: 20%;
	margin-left: 50%;
}

section p{
	margin-left: 10px;
	margin-right: 10px;
}

/* ============ Large & Extra Large viewport======== */
@media(min-width:992px){


}

/* ============ Medium viewport======== */
@media(min-width:768px) and (max-width:991px){ 
	
}

/* ============ Small viewport ========= */
@media(min-width:576px) and (max-width: 767px){
	
}

/* ============ Extra Small viewport======== */
@media(max-width:575px){
	.visible-xs{
		visibility: visible;
	}

}





